# Torch configuration
dataDir = ~/t2-linux
# Output directory for compiled .dso, console.log, and other runtime files
# Defaults to ~/.loki/tribes2
# outputDir = /home/methodown/.loki/tribes2
initScript = console_start.cs
