# Torch configuration
dataDir = /home/methodown/t2-linux
# Preload files (comma-separated) - loaded after profiles, before main GUI loading
# preload = gui/ConsoleDlg.gui
# Preview image to show in bottom-right corner of dev panel
# previewImg = preview.png
initScript = console_start.cs
